name: Test Build

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test-build:
    name: Test Build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - run: corepack enable

      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          cache: npm
      - name: Install Dependencies
        run: npm ci
      - name: Build Project
        run: npm run build
